<a href="https://colab.research.google.com/github/psidolphin/simple-python-programs/blob/master/HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SPRING 2021
# Applied Machine Learning, HW 1

*Instructions:* Read all problems very carefully. Make sure that you are answering all questions included in a given problem. Every problem has a code cell inserted at the very end. You must show your solution in the code cell and run the cell by pressing the SHIFT and ENTER buttons simultaneously. The output of the cell must demonstrate the correctness of your solution. If you need to insert more code cells -- feel free to do so.

**Problem 1** You are given the following list:

In [ ]:
my_list = ["ABC", 45, 7.8, "Applied", 9, "Dog", "Learning", "Cat", ' ', 89.0, "Machine"]
print(my_list)

['ABC', 45, 7.8, 'Applied', 9, 'Dog', 'Learning', 'Cat', ' ', 89.0, 'Machine']

Using only the elements of this list, string concatenation, and appropriate string methods, construct a new string variable `class_name` equal to 'APPLIED machine learning' (note the upper and lower case letters!).

In [ ]:
my_list = ["ABC", 45, 7.8, "Applied", 9, "Dog", "Learning", "Cat", ' ', 89.0, "Machine"]
class_name = my_list[3].upper() + ' ' + my_list[10].lower() + ' ' + my_list[6].lower()
print(class_name)

APPLIED machine learning

**Problem 2** In this problem you are given the following string:

In [ ]:
my_string_1 = "I'd like to learn more about NumPy arrays!"
my_string_2 = "Python has so many rules!"
print(my_string_1)
print(my_string_2)

I'd like to learn more about NumPy arrays!
Python has so many rules!

Using only these strings, string concatenation, and nothing else, construct a new string variable `opinion` equal to 'NumPy rules!'. There is more than one way to do it, so please provide the most efficient solution.

In [ ]:
my_string_1 = "I'd like to learn more about NumPy arrays!"
my_string_2 = "Python has so many rules!"
opinion = my_string_1[28:34] + " " +  my_string_2[18:]
print(opinion)

 NumPy  rules!

**Problem 3** In the following list

In [ ]:
one_to_five = [1, 2, 7, 4, 5]
print(one_to_five)

[1, 2, 7, 4, 5]

the number `7` is obviously out of place. Fix it -- replace the number `7` in the list with `3`. Store the result in the original `one_to_five` list.

In [ ]:
one_to_five = [1, 2, 7, 4, 5]
one_to_five[2] = 3
print(one_to_five)

[1, 2, 3, 4, 5]

**Problem 4** You are working with two Python variables, `username` and `password`. At present, the values of these variables are

In [ ]:
class_name = 'Applied Machine Learning'
instructor = 'Alexey Pronin'

print(class_name)
print(instructor)

Applied Machine Learning
Alexey Pronin

But you know that these values may change in the future. Create a new string variable `class_instructor_info` that at present is equal to 

'My instructor for the "Applied Machine Learning" class is Alexey Pronin' 

but would change the class name and the instructor's name in accordance with the values of the `class_name` and `instructor` variables should these values change in the future. Test it: change the values of the variables `class_name` and `instructor` to "Mummy wrapping" and "Ramesses II", repectively, and demonstrate that the variable `class_instructor_info` changes accordingly.

In [ ]:
class_name = 'Applied Machine Learning'
instructor = 'Alexey Pronin'

class_name = 'Mummy Wrapping'
instructor = 'Ramesses II'

class_instructor_info = 'My instructor for the ' + "\"%s\""% class_name+ ' ' +  'is ' + instructor
print(class_instructor_info)

My instructor for the "Mummy Wrapping" is Ramesses II

**Problem 5** Demonstrate how you can turn the following list

In [ ]:
one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(one_to_ten)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

into this one:

In [ ]:
new_list = [10, 7, 4, 1]
print(new_list)

[10, 7, 4, 1]

In [23]:
one_to_ten = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = []
for i in range(len(one_to_ten), 0,-3):
  new_list.append(i)
print(new_list)

[10, 7, 4, 1]

**Problem 6** Add a new element 42 at the very end of the following list

In [ ]:
my_favorite_numbers = ['pi', 3, 2, 1, 'e']
my_favorite_numbers.append(42)
print(my_favorite_numbers)

['pi', 3, 2, 1, 'e', 42]

**Problem 7** You are given the following nested list

In [ ]:
makes_no_sense = [[1, 2, "three", 'four'], ['A', 'b', 'c', 'D'], ['100', ['Moon', 'Jupiter', 'Saturn', 'Sun', 'Pluto', 'Earth'], 42]]
print(makes_no_sense)

[[1, 2, 'three', 'four'], ['A', 'b', 'c', 'D'], ['100', ['Moon', 'Jupiter', 'Saturn', 'Sun', 'Pluto', 'Earth'], 42]]

Retrieve the string 'Sun' from the list and save it in a new variable called `my_favorite_star` (dont' forget to print the variable to the screen!).

In [26]:
makes_no_sense = [[1, 2, "three", 'four'], ['A', 'b', 'c', 'D'], ['100', ['Moon', 'Jupiter', 'Saturn', 'Sun', 'Pluto', 'Earth'], 42]]
my_favorite_star = makes_no_sense[2][1][3]
print(my_favorite_star)

Sun

**Problem 8** Create a new dictionary `digits` whose keys are the names of the 1-9 digits and the values are the corresponding digits in the integer format (for example, the key 'one' corresponds to a value of `1`). After the dictionary is created add a new key-value pair to it: 'zero' (the key) and `0` (the value). Then change the integer value `7` to the string value '7'.

In [ ]:
digits = {
    "one": 1,
    "two": 2,
    "three": 3,
    "four": 4,
    "five": 5,
    "six": 6,
    "seven": 7
}
digits["zero"] = 0
digits["seven"] = '7'